<%- include('partials/header.ejs') %>
<section class="personal my-5">
    <div class="container text-center">
        <img src="assets/achievements/CS.JPG" alt="">
    </div>
</section>
<%- include('partials/footer.ejs') %>
