<%- include('partials/header.ejs') %>
    <section class="text-center my-5">
        <h1 class="my-5">Authentication</h1>
        <div class="register-form my-5">
            <div class="container col-lg-6 col-md-8">
                <form action="/auth" method="POST">
                    <div class="mb-3">
                        <label for="register-username" class="form-label">Username</label>
                        <input type="text" id="register-username" placeholder="Username" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="register-pswd" class="form-label">Username</label>
                        <input type="password" id="register-pswd" placeholder="Password" name="password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" value="register" name="action" class="mb-3 col-12 btn btn-primary">Register</button>
                        <button type="submit" value="login" name="action" class="mb-3 col-12 btn btn-light">Login</button>
                    </div>
                </form>
            </div>    
        </div>
    </section>
<%- include('partials/footer.ejs') %>
