<%- include('partials/header.ejs') %>
    <section class="text-center my-5">
        <h1 class="my-5">Sign Up User</h1>
        <div class="register-form mb-5">
            <div class="container col-lg-6 col-md-8">
                <form action="/register" method="POST" class="text-start">
                    <div class="mb-3">
                        <label for="register-username" class="form-label">Username</label>
                        <input type="text" id="register-username" placeholder="Username" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="register-pswd" class="form-label">Password</label>
                        <input type="password" id="register-pswd" placeholder="Password" name="password" class="form-control" required>
                    </div>
                    <div class="">
                        <button type="submit" value="register" class="mb-3 col-12 btn btn-primary">Sign Up</button>
                    </div>
                </form>
                <div class="mb-5"><a href="/login" class="btn btn-light col-12">Sign In</a></div>
                <% if (locals.message) { %>
                    <div id="alertBox" class="alert alert-<%= alertType %> alert-dismissible fade show" role="alert">
                        <%= message %>
                    </div>
                    <% } else { console.log("NA") }%> 
            </div>
        </div>
    </section>
    <script>
        // Automatically dismiss the alert after 5 seconds
        document.addEventListener('DOMContentLoaded', () => {
            const alertBox = document.getElementById('alertBox');
            if (alertBox) {
                setTimeout(() => {
                    alertBox.classList.remove('show'); // Bootstrap's class to hide the alert
                    alertBox.classList.add('fade');   // Ensure it fades out smoothly
                }, 3000); // Time in milliseconds (5 seconds)
            }
        });
    </script>
<%- include('partials/footer.ejs') %>
